#wrapt
grpcio
tensorflow
numpy
scipy
h5py
pillow
#dlib
keras
#opencv-python
scikit-image
thriftpy2
selenium==3.141.0
pandas==0.24.2
#yahoo-finance
yfinance
lxml
pyserial
reportlab
requests
pip
pykalman
webdriver-manager
numba
perceptilabs
