wrapt
grpcio
tensorflow>=2.13.0
numpy>=1.24.0
scipy
h5py
pillow
#dlib
#keras  # Now part of tensorflow
#opencv-python
scikit-image
thriftpy2
selenium==3.141.0
pandas
#yahoo-finance
yfinance
lxml
pyserial
reportlab
requests
pip
pykalman
python-binance
ephem
