wrapt
grpcio
#tensorflow
numpy
scipy
h5py
pillow
#dlib
keras
#opencv-python
scikit-image
thriftpy2
selenium==3.141.0
pandas
#yahoo-finance
yfinance
lxml
pyserial
reportlab
requests
pip
pykalman
python-binance		
